# Version control
.git
.gitignore

# OS and IDE files
.DS_Store
.vscode/
.idea/

# Local environment files
#.env*
#.env.*.local

# Tool and cache files
*.log
*.tmp
*.cache
/tmp
/cache

# Build outputs / binaries
bin/
*.exe
*.out

# Tests and coverage reports
coverage.out
coverage_tmp.out
docs/coverage/

# Others
node_modules/
migrations/
